@media screen and (max-width: 640px) {
  #player-container {
    transform: scale(0.8);
    transform-origin: left bottom;
  }
  #house-01 {
    transform: scale(0.6);
    transform-origin: left bottom;
  }
  #billboard-about {
    transform: scale(0.8);
    transform-origin: left bottom;
    left: 1500px;
  }
  #billboard-skill {
    transform: scale(0.8);
    transform-origin: left bottom;
  }
  #thailand-container {
    transform: scale(0.8);
    transform-origin: left bottom;
  }
  .book {
    transform: scale(0.5);
    transform-origin: left bottom;
  }
  .certification {
    transform: scale(0.7);
    transform-origin: bottom left;
  }

  .ferris-wheel {
    transform: scale(0.7);
    transform-origin: bottom left;
  }
  #other-skill-container {
    transform: scale(0.7);
    transform-origin: bottom left;
  }
  .bus,
  .bus-station {
    transform: scale(0.7);
    transform-origin: bottom left;
  }
  #start-profile .font-profile {
    transform: translate(-50%) scale(0.55);
    transform-origin: top;
  }

  #honor-container {
    transform: scale(0.55);
    transform-origin: top;
  }
  #language-table {
    transform: scale(0.7);
  }
  #topic-sign-1,
  #topic-sign-2 {
    transform: scale(0.7);
    transform-origin: bottom left;
  }
  #topic-sign-3 {
    transform: scale(0.7);
    transform-origin: bottom left;
  }
  #other-skill-container .other-skill {
    transform: scale(0.8);
    transform-origin: bottom left;
  }
  #tree {
    height: 130px;
  }
}
